/*Catalog.aspx*/
.product-tile-container img {
    width: 130px;
    height: 130px;
    margin: 10px;
}

.product-tile {
   
    overflow: auto;
    height: 275px;
    width: 175px;
    padding: 10px;
    border: 1px solid black;
    float: left;
    margin: 20px;
}

.product-tile-summary lblProductName {
    /*TODO*/
}

.product-tile-summary lblProductPrice {
    /*TODO*/
}

/*[Product].aspx*/
.product-container-details {
    margin: 0px;
}

.product-container-details .product-name {
    font: bold 26px ariel;
}

.product-container-details .product-price {
    font: 22px ariel;
}

.product-container-details .header-image {
    height: 250px;
}

.product-container-details .details-heading {
    font: bold 28px ariel;
}
   
.product-container-details .details-content {
    font: 16px ariel;
}

/*Checkout.aspx*/
.cart .container-image {
    width: 75px;
    height: 75px;
}

.item-container-image {
    resize: both;
    overflow: auto;
    height: 75px;
    width: 75px;
    padding: 10px;
    float: left;
    margin: 5px;
}

.cart .cart-item-container {
    resize: both;
    overflow: auto;
    height: 105px;
    padding: 15px;
    border: 1px solid black;
    float: none;
    margin: 5px;
}

.item-price {
    float: right;
    margin: 5px;
    margin-right: 50px;
}

.item-summary {
    resize: both;
    overflow: auto;
    height: 75px;
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    float: left;
    margin: 5px;
}

.cart .checkout-summary p {
    resize: both;
    overflow: auto;
    padding: 10px;
    float: left;
    margin: 20px;
}

.cart .checkout div {
    font: 18px;
    margin: auto;
    width: 50%;
}
